<!DOCTYPE html>
<html lang="en">
<head>
  <title>College Easy! - New College</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body style="background: linear-gradient(to bottom, #f9f4ea, #f9e3b7); height:100%; background-repeat: no-repeat">


<div><!--
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Add</a>
      </li>
    </ul>
  </nav>-->

<div style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%); height:100px;" >
  <center>
  <br />
  <b><h1 style="color:#ffffff; vertical-align: middle;"> <font face=georgia> College Easy!</h1></b>
  </center>
</div>

<body>
    {% if not is_editing %}
<form action="/add_college" method="POST">
    {% else %}
<form action="/edit_college?name={{ college.name }}" method="POST">
    {% endif %}
  <br />
<div class="container">
    {% if not is_editing %}
  <h2>Enter college information</h2>
    {% else %}
  <h2>Edit college information</h2>
    {% endif %}
    <div class="form-group">
      <label for="name">College Name:</label>
      <input type="text" class="form-control" id="name" value="{% if college is defined %}{{ college.name }}{% endif %}" name="name">
    </div>

    <div class="form-group">
      <label for="app_deadline">Application Deadline Date</label>
      <input type="text" class="form-control" id="app_deadline" value="{% if college is defined %}{{ college.app_deadline }}{% endif %}" name="app_deadline">
    </div>

    <div class="form-group">
      <label for="rec_deadline">Recommendation Letter Deadline Date</label>
      <input type="text" class="form-control" id="rec_deadline" value="{% if college is defined %}{{ college.rec_deadline }}{% endif %}" name="rec_deadline">
    </div>

    <div class="form-group">
      <label for="num_essays">Number of Supplemental Essays</label>
      <input type="text" class="form-control" id="num_essays" value="{% if college is defined %}{{ college.num_essays }}{% endif %}" name="num_essays">
    </div>

    <div class="form-group">
      <label for="midyear_report">Midyear Report Deadline Date</label>
      <input type="text" class="form-control" id="midyear_report" value="{% if college is defined %}{{ college.midyear_report }}{% endif %}" name="midyear_report">
    </div>

    <div class="form-group">
      <label for="acceptance_rate">Acceptance Rate</label>
      <input type="text" class="form-control" id="acceptance_rate" value="{% if college is defined %}{{ college.acceptance_rate }}{% endif %}" name="acceptance_rate">
    </div>

    <div class="form-group">
      <label for="platform" id="platform">Application Platform</label>
      <select class="form-control" id="platform" name="platform">
        <option> {% if college is defined %}{{ college.platform }}{% endif %}</option>
          <option value="Common App"> Common App </option>
          <option value="Coalition App"> Coalition App </option>
          <option value="ApplyTexas"> ApplyTexas </option>
          <option value="UC App"> UC App </option>
          <option value="Other"> Other </option>
            </select>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="back" class="btn btn-light">Back</button>

    <br> <br> <br>
</div>
</form>
</div>

</body>
</html>
