<!DOCTYPE html>
<html lang="en">
<head>
  <title>College Easy! - New College</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body style="background: linear-gradient(to bottom, #f9f4ea, #f9e3b7); height:100%; background-repeat: no-repeat">
  <style type="text/css">
    html, body {
        height: 100%;
        margin: 0px;
    }
    .container {
        height: 100%;}
    </style>

<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Add</a>
      </li>
    </ul>
  </nav>

<div style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%); height:100px;" >
  <center>
  <br />
  <b><h1 style="color:#ffffff; vertical-align: middle;"> <font face=georgia> College Easy!</h1></b>
  </center>
</div>

<body>
    {% if not is_editing %}
<form action="/add_college" method="POST">
    {% else %}
<form action="/edit_college?name={{ college.name }}" method="POST">
    {% endif %}
<div class="container">
    {% if not is_editing %}
  <h2>Enter college information</h2>
    {% else %}
  <h2>Edit college information</h2>
    {% endif %}
    <div class="form-group">
      <label for="name">College Name:</label>
      <input type="text" class="form-control" id="name" placeholder="{% if is_editing %}{{ college.name }}{% else %}Enter college name{% endif %}" name="name">
    </div>

    <div class="form-group">
      <label for="app_deadline">Application Deadline Date</label>
      <input type="text" class="form-control" id="app_deadline" placeholder="{% if is_editing %}{{ college.app_deadline }}{% else %}MM/DD/YYYY{% endif %}" name="app_deadline">
    </div>

    <div class="form-group">
      <label for="rec_deadline">Recommendation Letter Deadline Date</label>
      <input type="text" class="form-control" id="rec_deadline" placeholder="{% if is_editing %}{{ college.rec_deadline }}{% else %}MM/DD/YYYY{% endif %}" name="rec_deadline">
    </div>

    <div class="form-group">
      <label for="num_essays">Number of Supplemental Essays</label>
      <input type="text" class="form-control" id="num_essays" placeholder="{% if is_editing %}{{ college.num_essays }}{% else %}Number of Essays{% endif %}" name="num_essays">
    </div>

    <div class="form-group">
      <label for="midyear_report">Midyear Report Deadline Date</label>
      <input type="text" class="form-control" id="midyear_report" placeholder="{% if is_editing %}{{ college.midyear_report }}{% else %}MM/DD/YYYY{% endif %}" name="midyear_report">
    </div>

    <div class="form-group">
      <label for="acceptance_rate">Acceptance Rate</label>
      <input type="text" class="form-control" id="acceptance_rate" placeholder="{% if is_editing %}{{ college.acceptance_rate }}{% else %}Enter acceptance rate{% endif %}" name="acceptance_rate">
    </div>

    <div class="form-group">
      <label for="platform">Application Platform</label>
      <input type="text" class="form-control" id="platform" placeholder="{% if is_editing %}{{ college.platform }}{% else %}Enter application portal name{% endif %}" name="platform">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <br> <br> <br>
</div>
</form>
</div>

</body>
</html>
