<!DOCTYPE html>
<html lang="en">

<head>
  <title> College Easy! </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<body>
  <h1 style="background-color:LightGray;"> Are you looking to improve your college application experience? </h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">College Name</th>
        <th scope="col">Application Deadline</th>
        <th scope="col">Rec Deadline</th>
        <th scope="col">Number of Essays</th>
        <th scope="col">Mid-Year Report</th>
        <th scope="col">Acceptance Rate</th>
        <th scope="col">Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>smthA</td>
        <td>smthB</td>
        <td>smthC</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>smth2A</td>
        <td>smth2B</td>
        <td>smth2C</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>smth3A</td>
        <td>smth3B</td>
        <td>smth3C</td>
      </tr>
    </tbody>
  </table>
</html>
