<!DOCTYPE html>
<html lang="en">

<head>
  <title> College Easy! </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <h2 style ="color:DodgerBlue; text-align: right;"> <font size = "6"> College is Easy! </font> </h2>
    </ul>
  </nav>

<div style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%); height:100px;" >
  <center>
  <br />
  <h1 style="color:#ffffff; vertical-align: middle;">College Easy!</h1>
  </center>
</div>

<p height="100"> <font size="6.5"> Are you looking to improve your college application experience? </font> </p>

<button style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%);">Add a new college</button>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">College Name</th>
        <th scope="col">Application Deadline</th>
        <th scope="col">Rec Deadline</th>
        <th scope="col">Number of Essays</th>
        <th scope="col">Mid-Year Report</th>
        <th scope="col">Acceptance Rate</th>
        <th scope="col">Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <ul>
          {% for college in colleges %}
            <td>{{ college.name }}</td>
          {% endfor %}
        </ul>

        <ul>
          {% for college in colleges %}
            <td>{{ college.app_deadline }}</td>
          {% endfor %}
        </ul>

        <ul>
          {% for college in colleges %}
            <td>{{ college.rec_deadline }}</td>
          {% endfor %}
        </ul>

        <ul>
          {% for college in colleges %}
            <td>{{ college.num_essays }}</td>
          {% endfor %}
        </ul>

        <ul>
          {% for college in colleges %}
            <td>{{ college.midyear_report }}</td>
          {% endfor %}
        </ul>

        <ul>
          {% for college in colleges %}
            <td>{{ college.acceptance_rate }}</td>
          {% endfor %}
        </ul>

        <ul>
          {% for college in colleges %}
            <td>{{ college.platform }}</td>
          {% endfor %}
        </ul>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>smth2A</td>
        <td>smth2B</td>
        <td>smth2C</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>smth3A</td>
        <td>smth3B</td>
        <td>smth3C</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
