<!DOCTYPE html>
<html lang="en">

<head>
    <title> College Easy! </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="background: linear-gradient(to bottom, #f9f4ea, #f9e3b7); height:100%; background-repeat: no-repeat">
<style type="text/css">
    html, body {
        height: 100%;
        margin: 0px;
    }

    .container {
        height: 100%;
    }
</style>

<div>
    <!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        <li class="nav-item">
          <a class="nav-link" href="#">Add</a>
        </li>
      </ul>
    </nav>-->

    <div style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%); height:100px;">
        <center>
            <br/>
            <b><h1 style="color:#ffffff; vertical-align: middle;"><font face=georgia> College Easy!</h1></b>
        </center>
    </div>

    <p height="100"><font size="6.5" , face=lucidasansunicode>
        <center>
            <i>A tool to manage your college application experience.</i>
        </center>
    </font></p>
</div>

<table>
    <tr>
        <!-- "add college" button -->
        <td>
            <button style="background: linear-gradient(to bottom, #1CB913 20%, #11760B 100%);
               color:#ffffff; border-radius: 8px; height: 35px">
                <font face=georgia>
                    <a href="/add_college" role="button" style="color:#ffffff; padding: 20px;">
                        Add a New College </a>
            </button>
        </td>

        <!-- "edit college" button -->
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" style="background: linear-gradient(to bottom, #F0D53A 20%, #9B8712 100%);
                color:#ffffff; border-radius: 8px; height: 35px" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Edit a College
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for college in colleges %}
                        <a class="dropdown-item" href="/edit_college?name={{ college.name }}">{{ college.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </td>
        <!--<button style="background: linear-gradient(to bottom, #F0D53A 20%, #9B8712 100%);
                    color:#ffffff; border-radius: 8px; height: 35px">
        <font face=georgia>
          <a href="/edit_college" role="button" style="color:#ffffff; padding: 20px;">
            Edit a College
          </a>
      </button></td>-->

        <!-- "delete college" button -->
        <!--<div class="container">
        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%);
                      color:#ffffff; border-radius: 8px; height: 35px">
          <font face=georgia>Delete a college</font>
          <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
            </ul>
          </div>
        </div>-->
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" style="background: linear-gradient(to bottom, #E53232 20%, #8C1111 100%);
                color:#ffffff; border-radius: 8px; height: 35px" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Delete a College
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for college in colleges %}
                        <a class="dropdown-item" href="/delete_college?name={{ college.name }}">{{ college.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </td>
    </tr>
</table>
<!--    <a href="/edit_college" role="button" style="color:#ffffff; padding: 20px;">
      Delete a College
    </a> -->
<font face=helvetica>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">College Name</th>
            <th scope="col">Application Deadline</th>
            <th scope="col">Rec Deadline</th>
            <th scope="col">Number of Essays</th>
            <th scope="col">Mid-Year Report</th>
            <th scope="col">Acceptance Rate</th>
            <th scope="col">Platform</th>
        </tr>
        </thead>
        <tbody>
        {% for college in colleges %}
            <tr>
                <ul>
                    <td>{{ college.name }}</td>
                </ul>

                <ul>
                    <td>{{ college.app_deadline }}</td>
                </ul>

                <ul>
                    <td>{{ college.rec_deadline }}</td>
                </ul>

                <ul>
                    <td>{{ college.num_essays }}</td>
                </ul>

                <ul>
                    <td>{{ college.midyear_report }}</td>
                </ul>

                <ul>
                    <td>{{ college.acceptance_rate }}</td>
                </ul>

                <ul>
                    <td>{{ college.platform }}</td>
                </ul>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</font>
</body>
</html>
